h1 {
    color: white;
}

p{
    color: white;
    text-align: left;
    font-size: xx-large;
}






.status-box{
    background-color: #4d4d4d;
    border: 2px solid black;
    width: 40%;
    height: auto;
    display: inline-block;
    padding: 50px;
    margin: 25px;

}

#center{
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    width: 80%;
    text-ali